body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* Faz com que a página ocupe toda a altura da viewport */
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    background-color: #f5f5f5;
}

.login-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form img {
    display: block;
    margin: 0 auto;
    width: 100px; /* Tamanho da imagem */
    margin-bottom: 20px; /* Espaçamento abaixo da imagem */
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px; /* Espaçamento abaixo do título */
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;  /* deixa os inputs do mesmo tamaho ocupando todo o espaco */
    padding: 10px;
    margin-bottom: 15px; /* Espaçamento entre os campos */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-form label {
    font-weight: bold;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #45a049;
}